# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Gradle template
.gradle
/build
/out
*/build/
*/out/

gradle.properties

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea
*.iml
geth.sh

# Sphinx generated docs
docs/build

# OS X
.DS_Store
utils/.settings/org.eclipse.buildship.core.prefs
utils/.project
utils/.gitignore
utils/.classpath
tuples/.settings/org.eclipse.buildship.core.prefs
tuples/.project
tuples/.gitignore
tuples/.classpath
rlp/.settings/org.eclipse.buildship.core.prefs
rlp/.project
rlp/.gitignore
rlp/.classpath
parity/.settings/org.eclipse.buildship.core.prefs
parity/.project
parity/.gitignore
parity/.classpath
integration-tests/.settings/org.eclipse.buildship.core.prefs
integration-tests/.project
integration-tests/.gitignore
integration-tests/.classpath
infura/.settings/org.eclipse.buildship.core.prefs
infura/.project
infura/.gitignore
infura/.classpath
geth/.settings/org.eclipse.buildship.core.prefs
geth/.project
geth/.gitignore
geth/.classpath
crypto/.settings/org.eclipse.buildship.core.prefs
crypto/.project
crypto/.gitignore
crypto/.classpath
core/.settings/org.eclipse.buildship.core.prefs
core/.project
core/.gitignore
core/.classpath
console/.settings/org.eclipse.buildship.core.prefs
console/.project
console/.gitignore
console/.classpath
codegen/.settings/org.eclipse.buildship.core.prefs
codegen/.project
codegen/.gitignore
codegen/.classpath
abi/.settings/org.eclipse.buildship.core.prefs
abi/.project
abi/.gitignore
abi/.classpath
.settings/org.eclipse.buildship.core.prefs
.project
.classpath
